body{
    background-color:hsl(234, 29%, 20%);
    font-family: 'Roboto';    
}


@font-face{
src:url("/assets/fonts/Roboto-Regular.ttf");
font-family: 'Roboto';
}

.wrapper{
    position: absolute;
    top:0;
    left: 0;
    right:0;
    bottom: 0;
    background-color:hsl(0, 0%, 100%) ;
    max-width: 400px;
    max-height: 400px;
    margin:auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

img{
    width:13%;
    margin-top: 20px;
    margin-left: 40px;
}

h1{
    font-size: 45px;
    color:hsl(234, 29%, 20%) ;
    margin-left: 45px;
    margin-bottom: 0px;
}

.quote{   
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 12px;
    /* font-weight: bold; */
    width: 300px;
    line-height: 1.5;
}


.dismiss{
    margin: auto;
    margin-top: 0px;
}

input{
    width:300px;
    height:40px;
    border-radius: 5px;
    border: none;
    color:white;
    background-color: hsl(234, 29%, 20%);
    cursor: pointer;
}

input:hover{
    background: linear-gradient(to right, hsl(346, 100%, 66%), hsl(15, 100%, 61%));
    box-shadow: 0 10px 10px 5px hsl(346, 50%, 66%, 0.5);
}
